<div id="<%= dom_id blog_post %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Illustration:</strong>
    <%= link_to blog_post.illustration.filename, blog_post.illustration if blog_post.illustration.attached? %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= blog_post.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subtitle:</strong>
    <%= blog_post.subtitle %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= blog_post.body %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= blog_post.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this blog post", blog_post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this blog post', edit_blog_post_path(blog_post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
