<div class="w-full flex flex-col justify-center">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Blog posts</h1>
    <%= search_form_for @q do |f| %>
      <%#= f.label :title_or_subtitle_or_body_cont %>
      <%= f.search_field :title_or_subtitle_or_body_cont %>
      <%= f.submit %>
    <% end %>

    <%= paginate @blog_posts %>

    <%if current_user.writer? %>
    <%= link_to 'New blog post', new_blog_post_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <%end%>
  </div>

  <div id="blog_posts" class="min-w-full">
    <%= render @blog_posts %>
  </div>
</div>
